body {

	--dark: #676969;
	--bright: #00a6a0;
	--pale: #d0e8d3;
	--shadow: var(--pale) 1.5px 1.5px, var(--pale) -1.5px -1.5px, var(--pale) -1.5px 1.5px, var(--pale) 1.5px -1.5px;
	background-color: var(--dark);
	color: white;
	font-size: 0.9em;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	word-spacing: 0.4em;
	letter-spacing: 0.2em;
	line-height: 1.8;
	margin: 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 80%;
	height: 100%;
}

h1 {
	background-color: var(--blue);
	color: var(--pale);
	font-weight: 300;
	line-height: 1.2;
	margin: 0;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 2em;
	font-weight: 400;
	font-style: normal;
	color: white;
	text-shadow: var(--pale) 1px 1px;
}

@media (max-width: 680px) {
	body {
        font-size: 0.7em;
	}
}

@media (max-width: 560px) {
	body {
        font-size: 0.6em;
	}
}

@media (max-width: 450px) {
	body {
        font-size: 0.5em;
	}
}

#navbar {
	background-color: var(--pale);
	color: var(--dark);
	text-align: center;
	height: 100%;
}

#navbar > .container {
	justify-content: space-between;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

button {
	text-transform: uppercase;
	color: var(--bright);
	font-size: inherit;
	letter-spacing: 0.1em;
	outline: none;
	border: none;
	background: none;
	height: 2em;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}

button:hover {
	color: white;
	background-color: var(--bright);
}

.selected {
	color: white;
	background-color: var(--bright);
}

#message {
	display: inline-flex;
	display: -webkit-inline-flex;
	text-align: center;
	font-size: inherit;
	letter-spacing: 0.1em;
}

.game-field {
	margin: 1em auto;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.square {
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
	background-color: var(--bright);
	margin: 1.66%;
	padding-bottom: 30%;
	border-radius: 50%;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	box-shadow: var(--shadow);
}

footer {
	margin-top: 5em;
	font-size: 0.8em;
	font-weight: 300;
	text-align: right;
	width: 95%;
}